body {
    background-color:aquamarine;
    font-family: 'Dancing Script', cursive;
}
h1 {
    font-size: 30px;
    color:rgba(255, 0, 0, 0.753);
    text-shadow: 1px 1px 2px #9583f2, 0 0 25px rgb(83, 1, 248);
    margin-bottom: 80px;
}
h2 {
    font-size: 30px;
    color:rgba(255, 0, 0, 0.753);
    text-shadow: 1px 1px 2px #9583f2, 0 0 25px rgb(83, 1, 248);
}

main {
    text-align: center;
}
.tabuleiro div input{
    width: 100px;
    margin:5px;
    height: 100px;
    border:1px solid black;
    border-radius: 6px;
    font-size: 30px;
    cursor:pointer;
}
 input[type=button]{
    background-color: rgb(255, 0, 0);
    color: white;
    font-family: cursive;
}
